<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.cherryperry.amiami">

    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="ru.cherryperry.amiami.AmiamiApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricKey}"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_notification"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id"/>

        <activity
            android:name=".presentation.activity.SingleActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="org.chromium.customtabsclient.shared.KeepAliveService"
            android:exported="true"
            tools:ignore="ExportedService"/>

        <service
            android:name="ru.cherryperry.amiami.presentation.push.MessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>